In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Joseph,RE,2022-05-22 00:55:26,-21.3667,55.6167,68.38,75,19,9.86
1,1,Timmins,CA,2022-05-22 00:55:27,48.4669,-81.3331,44.42,70,100,9.22
2,2,Rikitea,PF,2022-05-22 00:55:27,-23.1203,-134.9692,75.81,74,1,11.48
3,3,Severo-Kurilsk,RU,2022-05-22 00:53:58,50.6789,156.1250,46.18,87,68,8.14
4,4,Mareeba,AU,2022-05-22 00:55:28,-17.0000,145.4333,78.48,77,50,3.51

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Rikitea,PF,2022-05-22 00:55:27,-23.1203,-134.9692,75.81,74,1,11.48
4,4,Mareeba,AU,2022-05-22 00:55:28,-17.0000,145.4333,78.48,77,50,3.51
5,5,San Carlos,VE,2022-05-22 00:54:01,9.6612,-68.5827,81.52,53,85,2.75
9,9,San Cristobal,VE,2022-05-22 00:55:31,7.7669,-72.2250,75.38,83,9,3.27
10,10,Ustupo,PA,2022-05-22 00:55:32,9.1333,-77.9333,79.39,86,20,3.38
13,13,Bethel,US,2022-05-22 00:55:33,41.3712,-73.4140,80.47,76,2,4.65
23,23,Avarua,CK,2022-05-22 00:55:42,-21.2078,-159.7750,77.05,83,75,4.61
26,26,Albany,US,2022-05-22 00:55:44,42.6001,-73.9662,79.59,73,35,3.09
27,27,Cabo San Lucas,MX,2022-05-22 00:55:44,22.8909,-109.9124,80.62,68,4,12.57
29,29,Forestville,US,2022-05-22 00:55:45,38.8451,-76.8750,86.86,64,0,6.91

In [21]:
#determine null values
preferred_cities_df.count()

City_ID       177
City          177
Country       177
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2          Rikitea      PF     75.81 -23.1203 -134.9692
4          Mareeba      AU     78.48 -17.0000  145.4333
5       San Carlos      VE     81.52   9.6612  -68.5827
9    San Cristobal      VE     75.38   7.7669  -72.2250
10          Ustupo      PA     79.39   9.1333  -77.9333
13          Bethel      US     80.47  41.3712  -73.4140
23          Avarua      CK     77.05 -21.2078 -159.7750
26          Albany      US     79.59  42.6001  -73.9662
27  Cabo San Lucas      MX     80.62  22.8909 -109.9124
29     Forestville      US     86.86  38.8451  -76.8750

In [42]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [43]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": f"{lat},{lng}"
    
}

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [46]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Rikitea,PF,75.81,-23.1203,-134.9692,People ThankYou
4,Mareeba,AU,78.48,-17.0000,145.4333,Trinity Plains Tourist Park
5,San Carlos,VE,81.52,9.6612,-68.5827,Hotel Paternopoli
9,San Cristobal,VE,75.38,7.7669,-72.2250,Pirineos
10,Ustupo,PA,79.39,9.1333,-77.9333,
13,Bethel,US,80.47,41.3712,-73.4140,Courtyard by Marriott Danbury
23,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
26,Albany,US,79.59,42.6001,-73.9662,
27,Cabo San Lucas,MX,80.62,22.8909,-109.9124,Hotel Tesoro Los Cabos
29,Forestville,US,86.86,38.8451,-76.8750,Quality Inn Near Joint Base Andrews-Washington...

In [49]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info )
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))